.default-content-wrapper h3{
  margin: 4rem 0 1.8rem;
  font-weight: 400;
  color: #373640;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div > h4 {
  font-weight: 800;
  color: #373640;
}

.columns > div > div > p{
  font-size: 1rem;
}

.columns > div > div > p > strong{
  color: red;
}

.columns > div > div > p > span{
  margin-right: 1.5rem;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
