.default-content-wrapper h3{
    margin: 4rem 0 1.8rem;
    font-weight: 400;
    color: #373640;
}

.productcards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 16px;
}

.productcards > ul > li:hover {
    transition: 0.3s all;
    transform: scale(1.05);
    cursor: pointer;
}

.productcards .productcards-card-body {
    margin: 0.2rem;
    font-size:1rem;
}

.productcards .productcards-card-body strong{
    margin: 0;
}

.productcards .productcards-card-price {
    color: red;
    font-size: 0.8rem;
}

.productcards .productcards-card-image {
    line-height: 0;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 30%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 17%);
    height: 150px;
}

.productcards .productcards-card-image > picture {
    margin-left: auto;
    margin-right: auto;
}

.productcards .productcards-card-body > *:first-child {
    margin-top: 0;
}

.productcards > ul > li img {
    width: 90%;
    aspect-ratio: 4 / 3;
    object-fit: cover;

}


